.landing{

}

body{
  width: 100vw;
  height:100vh;

}


/* $purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;


$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none; */

.hero{
  background-image: url(./pages/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:100vw;
  height:100vh;
}

main{
margin-top: 1%;
padding-top:2%;
}

nav section{
  list-style: none;
}

nav section li{
  
}

.page-container{
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page-container img{
  width:100%;
}

.banner{
  margin: 0;
  padding: 0;
 
}